<!DOCTYPE html>
<html>
<head>
    <title>Formulário de Cadastro</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        // Verificar se a mensagem de sucesso está presente na URL
        const urlParams = new URLSearchParams(window.location.search);
        const sucesso = urlParams.get("sucesso");

        // Se a mensagem de sucesso estiver presente, exibir o pop-up
        if (sucesso) {
          alert("Usuário cadastrado com sucesso!");
        }
      });
    </script>
</head>
<body>
    <h1>Formulário de Cadastro</h1>
    <form action="/cadastro" method="POST">
        <label for="username">Nome de Usuário:</label>
        <input type="text" id="username" name="username" required>

        <label for="registration">Matrícula:</label>
        <input type="text" id="registration" name="registration" required>

        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>
